<!DOCTYPE html>
<html>
  <head>
    <title>Inroute</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar bg-faded">
      <div class="container center-block justify-content-md-center text-center">
        <div class="navbar-brand">
          <img src="<%= asset_path('INR_Logo_RoadsideHelp') %>" height='250px', style='margin-left:auto;margin-right:auto;margin-top:-10px;'>
        </div>
      </div>
    </nav>
    <div class='over-lay'
      <%= yield %>
    </div>
  </body>
</html>
