<!DOCTYPE html>
<html>
  <head>
    <title>Inroute</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar bg-faded">
      <a class="navbar-brand" href="#">
        <img src="<%= asset_path('inroutelogo3_white') %>" height='69px'>
      </a>
    </nav>
    <div class='over-lay'
      <%= yield %>
    </div>
  </body>
</html>
